version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: auth_service_DB
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-postgres}
    ports:
      - "${HOST_DB_PORT:-5433}:${DB_PORT:-5432}"

    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    container_name: db_migrations
    volumes:
      - ./migrations:/migrations
    command:
      - -path=/migrations
      - -database=postgres://${DB_USER:-postgres}:${DB_PASSWORD:-postgres}@db:${DB_PORT:-5423}/${DB_NAME:-postgres}?sslmode=disable
      - up
    depends_on:
      db:
        condition: service_healthy

  app:
    build:
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    environment:
      DB_HOST: ${DB_HOST:-db}
      DB_PORT: ${DB_PORT:-5432}
      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-postgres}
      DB_NAME: ${DB_NAME:-postgres}
      JWT_KEY: ${JWT_KEY:-key}
      PORT: ${PORT:-8080}
    depends_on:
      migrate:
        condition: service_completed_successfully
      db:
        condition: service_healthy

volumes:
  postgres_data: